# Folders
node_modules
build
@types
.vercel

# Files
.gitignore
.prettierrc
tslint.json
Dockerfile
docker-compose*.yml
CNAME
*.log

# Development environment
.env.example
.env.development
.env.development.local
.env.test
.env.test.local
