html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

#root {
  font-family: Roboto;
}

.icon-hover-up:hover {
  margin-top: -5px !important;
  transition: margin-top 0.3s;
}

.underline {
  position: relative;
}

.underline:before {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #343a40 !important;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.underline:hover:before {
  width: 50px;
}

.underline-light:before {
  background-color: #f8f9fa !important;
}

@media (max-width: 991px) {
  .navbar-collapse {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .contact-form-mobile {
    max-width: unset !important;
  }
}

@media (min-width: 768px) {
  .border-md-left {
    border-left: 1px solid #999;
  }
}

.up-down-effect {
  animation: up-down 2s infinite;
  animation-fill-mode: backwards;
}

@keyframes up-down {
  0% {
    bottom: 10px;
  }

  25% {
    bottom: 40px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 40px;
  }

  100% {
    bottom: 10px;
  }
}
